* {
	font-family: 'Courier New', monospace;
}

h1,
h2 {
	color: white;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

h1 {
	background-color: green;
}

h2 {
	background-color: black;
} 

body{
	background-color: blue;
}

li {
	background-color: yellow;
	color: black;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

